<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/icon.jpeg">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="./img/404.jpeg">
    </div>
    <p>{{errorMsg}}</p>
</body>

</html>