<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.jpeg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="about-content">
        {{>header}}
        <p>This website provides you current weather detail of the area searched</p>
        <img class="portrait" src="./img/demoAbout.jpeg">
    </div>

    {{>footer}}
</body>

</html>