body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/bg.jpeg);
    background-size: cover;
}

.main-content {
    flex-grow: 1;
}

.about-content {
    flex-grow: 1;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px;
}

h1 {
    font-size: 65px;
    margin-bottom: 16px;
    color: white;
}

header a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 500px;
    align-content: space-between;
}

input {
    border: 1px solid #ffffff;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;

}